@import "variables";
@import "mixins";

.s-navigation {
  position: absolute;
  overflow: hidden;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 57px;
  height: 100%;

  @include for-laptop-up {
    position: relative;
  }

  &__content {
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    width: 57px;
    overflow-y: auto;
    background-color: $secondary-color;
  }

  &__link {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: $white;
    padding: 3px 0;

    &--disabled {
      pointer-events: none;
      cursor: default;
    }

    &--active {
      background-color: $gray-700;
    }

    &:hover {
      background-color: $gray-900;
    }

    i {
      font-size: 1rem;
    }

    @include for-desktop-up {
      padding: 5px 0;

      i {
        font-size: 1.25rem;
      }
    }
  }
}
