<div class="s-navigation">
  <div class="s-navigation__content">

    <a *ngFor="let link of links"
       class="s-navigation__link"
       [ngClass]="{'s-navigation__link--disabled': link?.disabledLink}"
       [routerLink]="link?.routerLink"
       routerLinkActive="s-navigation__link--active"
    >
      <i [ngClass]="link?.iconClasses"></i>
    </a>

  </div>
</div>
