<header class="l-header">
  <div class="l-header__hamburger" (click)="onHamburgerClick()">
    <i class="bi bi-text-left"></i>
  </div>

  <div class="l-header__logo-wrapper">
    <img src="assets/images/logo.jpg" alt="brand logo">
    <span>LearnUpon</span>
  </div>

  <div class="l-header__account-notifications">

    <span class="l-header__notification">
      <i class="bi bi-search"></i>
    </span>

    <span class="l-header__notification">
      <i class="bi bi-bezier"></i>
    </span>

    <span class="l-header__notification">
      <i class="bi bi-bell"></i>
      <span>3</span>
    </span>

    <span class="l-header__notification">
      <i class="bi bi-envelope"></i>
      <span>3</span>
    </span>

    <img class="l-header__account lup-thumbnail" src="assets/images/sample-photo.jpeg" alt="my user thumbnail">
  </div>


</header>
