@import "variables";
@import "mixins";

.l-header {
  background-color: $secondary-color;
  padding: 15px 20px 15px 0;
  display: flex;
  height: 70px;
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 100;
  left: 0;
  top: 0;

  &__hamburger {
    padding: 0 15px;
    color: $white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__logo-wrapper {
    display: flex;
    align-content: center;
    flex-grow: 1;

    img {
      width: 40px;
      height: 40px;
    }

    span {
      display: none;
      margin-left: 10px;
      font-size: 1.5rem;
      font-weight: bold;
      color: $white;

      @include for-phone-landscape-up {
        display: inline-block;
      }
    }
  }

  &__notification {
    position: relative;
    top: 3px;
    color: $white;
    margin-top: 5px;
    margin-right: 25px;

    i {
      font-size: 1rem;
    }

    span {
      position: absolute;
      top: -5px;
      right: -10px;
      background-color: $red;
      border-radius: 50%;
      display: inline-block;
      height: 1rem;
      width: 1rem;
      text-align: center;
      font-size: 0.5rem;
      line-height: 1rem;
    }

  }

  &__account {
    width: 40px;
  }

}
