
@mixin for-phone-portrait-only {
  @media (max-width: 575px) { @content; }
}
@mixin for-phone-landscape-up {
  @media (min-width: 576px) { @content; }
}
@mixin for-tablet-up {
  @media (min-width: 768px) { @content; }
}
@mixin for-laptop-up {
  @media (min-width: 992px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1300px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1600px) { @content; }
}
