$primary-color: #097bb8;
$secondary-color: #333333;

$white:    #ffffff;
$gray-100: #f2f2f2;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #cccccc;
$gray-500: #8a8a8a;
$gray-600: #6c757d;
$gray-700: #585858;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000000;

$red: #e13131;
