/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "mixins";

html {
  height: 100%;
  font-size: 16px;

  @include for-laptop-up {
    font-size: 18px;
  }

  @include for-big-desktop-up {
    font-size: 20px;
  }
}
body {
  height: 100%;
  background-color: $primary-color;
}

.lup-thumbnail {
  border-radius: 50%;
  height: auto;
}
