<div class="users-list-wrapper">

  <!-- TAB - BUTTONS -->
  <ul class="nav" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pending-users-tab" data-toggle="tab" href="#pending-users" role="tab" aria-controls="pending-users" aria-selected="false">Pending Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="leaderboard-tab" data-toggle="tab" href="#leaderboard" role="tab" aria-controls="leaderboard" aria-selected="false">Leaderboard</a>
    </li>
  </ul>

  <!-- TAB - CONTENT -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
      <lup-users-table
        [users]="users"
        (create)="onCreate()"
      ></lup-users-table>
    </div>
    <div class="tab-pane fade" id="pending-users" role="tabpanel" aria-labelledby="pending-users-tab">Pending Users</div>
    <div class="tab-pane fade" id="leaderboard" role="tabpanel" aria-labelledby="leaderboard-tab">Leaderboard</div>
  </div>

</div>
