@import "variables";
@import "mixins";


.users-list-wrapper {

  .nav {
    padding: 0 10px;
    border-bottom: solid 2px $gray-100;
    background-color: $white;

    @include for-tablet-up {
      padding: 0 40px;
    }
  }

  .nav-link {
    color: $gray-500;
    &.active {
      color: $primary-color;
      font-weight: bold;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: $primary-color;
        left: 0;
        bottom: -2px;
      }
    }
  }
}
