<lup-header (toggleNavigation)="onToggleNavigation()"></lup-header>

<!--<div>-->
  <!--<a [routerLink]="['/dashboard']">Dashboard</a>-->
  <!--<br>-->
  <!--<a [routerLink]="['/users']">Users</a>-->
<!--</div>-->

<main class="lup-main">

  <lup-navigation *ngIf="showNavigation"></lup-navigation>

  <div class="lup-content">
    <router-outlet></router-outlet>
  </div>

</main>
