<div class="homepage">

  <h2>Creative homepage title</h2>
  <h4>Okay people, move along, nothing to see here.... </h4>

  <section class="homepage__quotes-section">
    <h5>Just some random nice quotes. Why not.</h5>

    <p>You either win, or you learn. <em>- Nelson Mandela -</em></p>
    <p>Always and never are two words you should always remember never to use.<em>-Wendell Johnson-</em></p>
    <p>There is little success where there is little laughter. <em>-Andrew Carnegie-</em></p>
    <p>Have enough reasons.</p>
    <p>Everyone you meet has something to teach you.</p>
    <p>You may not be able to do all you find out, but make sure you find out all you can do.<em>-Jim Rohn-</em></p>
    <p>By failing to prepare, you are preparing to fail. <em>-B. Franklin-</em></p>
    <p>Give without remembering and receive without forgetting.</p>

  </section>
</div>
