@import "variables";

.homepage {

  padding: 1.5rem 2rem;

  h2 {
    text-align: center;
  }

  h4 {
    margin: 20px 0;
    text-align: center;
  }

  h5 {
    margin-bottom: 1.5rem;
  }

  &__quotes-section {
    background-color: $white;
    margin-top: 40px;
    padding: 1.25rem;
    border-radius: 4px;

    p {
      position: relative;
    }

    em {
      padding-left: 10px;
      font-weight: bold;
      white-space: nowrap;
    }
  }
}
