@import "variables";

.u-modal {
  padding: 30px 20px;

  &__title {
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__save {
    background-color: $primary-color;
    color: $white;
  }
}
