<div class="u-modal">
  <h4 class="u-modal__title">Create user</h4>

  <form class="u-modal__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [form]="form" [fields]="fields"></formly-form>

    <div class="u-modal__buttons">
      <button type="button" class="u-modal__close btn btn-default" (click)="close()">Close</button>
      <button type="submit" class="u-modal__save btn">Save</button>
    </div>
  </form>
</div>

