<div class="u-table">
  <div class="u-table__header">
    <div class="u-table__filters">
      <div class="u-table__all-users-select">
        <input type="checkbox" aria-label="Checkbox for selecting all users">
        <span>940 Users</span>
      </div>
      <div class="u-table__search-bar">
        <i class="bi bi-search"></i>
        <input type="text" placeholder="Search">
      </div>
      <button type="button" class="u-table__filter-button btn">Type: All</button>
      <button type="button" class="u-table__filter-button btn">Sort: A-Z</button>
      <button type="button" class="u-table__filter-button btn">Groups: All</button>
      <button type="button" class="u-table__add-filter-button btn"><i class="bi bi-plus"></i> <span>Add Filter</span></button>
    </div>
    <div class="u-table__action-buttons">
      <button type="button" class="u-table__create btn" (click)="onCreate()">
        <i class="bi bi-plus"></i><span>Create</span>
      </button>
      <button type="button" class="u-table__action btn">
        <i class="bi bi-three-dots-vertical"></i><span>Actions</span></button>
    </div>
  </div>

  <div class="u-table__body">
    <div class="u-table__items">
      <div class="u-table__item" *ngFor="let user of users; trackBy:identify">
        <input class="u-table__user-select" type="checkbox" aria-label="Checkbox for selecting specific user">
        <img class="u-table__user-thumbnail lup-thumbnail" src="assets/images/sample-photo.jpeg" alt="user thumbnail">
        <div class="u-table__user-data">

          <div class="u-table__user-description">
            <p class="u-table__user-name">{{user?.first_name}} {{user?.last_name}}</p>
            <p class="u-table__email">{{user?.email}}</p>
          </div>

          <div class="u-table__user-numbers">
            <span class="u-table__user-num-link">
              <i class="bi bi-card-list"></i>
              <span>{{user?.number_of_enrollments}}</span>
            </span>

            <span class="u-table__user-num-link">
              <i class="bi bi-person-fill"></i>
              <span>{{user?.number_of_enrollments_accessed}}</span>
            </span>

            <span class="u-table__user-num-link">
              <i class="bi bi-people-fill"></i>
              <span>{{user?.sign_in_count}}</span>
            </span>
          </div>

        </div>

        <span class="u-table__additional-actions">
          <i class="bi bi-three-dots-vertical"></i>
        </span>
      </div>
    </div>
    <div class="u-table__navigation" *ngIf="users">
      <i class="bi bi-caret-left-fill"></i>
      <span>1</span>
      <i class="bi bi-caret-right-fill"></i>
    </div>
  </div>
</div>
