@import "variables";
@import "mixins";

.u-table {
  display: flex;
  flex-direction: column;

  //HEADER PART

  &__header {
    background-color: $white;
    padding: 10px 20px;

    @include for-desktop-up {
      display: flex;
      justify-content: space-between;
    }
  }

  &__filters {
    & > * {
      margin: 4px 10px 4px 0;
    }

    @include for-phone-landscape-up {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  &__all-users-select {
    display: flex;
    align-items: center;

    input {
      margin: 0 6px;
      width: 18px;
      height: 18px;
      color: $gray-400;
    }

    span {
      color: $secondary-color;
      font-weight: bold;
      font-size: 1.25rem;
      padding: 0 10px;
    }

    @include for-desktop-up {
      padding-left: 10px;
    }

  }

  &__search-bar {
    position: relative;
    width: 100%;

    @include for-phone-landscape-up {
      width: auto;
    }

    input {
      padding: 6px 6px 6px 35px;
      border-radius: 4px;
      border: 1px solid $gray-400;
      width: 100%;

      @include for-phone-landscape-up {
        width: auto;
      }

      &::placeholder {
        color: $gray-500;
        opacity: 1;
      }
    }
    i {
      position: absolute;
      left: 10px;
      top: 6px;
      color: $gray-500;
      pointer-events: none;
    }
  }

  &__filter-button {
    border-radius: 4px;
    border: 1px solid $gray-400;
  }

  &__add-filter-button {
    color: $primary-color;
  }

  &__action-buttons {
    margin: 4px 0;
    white-space: nowrap;

    i {
      margin-right: 5px;
    }
  }

  &__create {
    background-color: $primary-color;
    color: $white;
    margin-right: 10px;
  }

  &__action {
    background-color: $gray-100;
  }

  //BODY PART

  &__body {
    padding: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    background-color: $white;
    margin: 10px;
    padding: 10px 5px;
    border-radius: 8px;

    & > * {
      margin: 0 6px;
    }

    @include for-phone-landscape-up {
      padding: 10px;
    }
  }

  &__user-select {
    width: 18px;
    height: 18px;
    color: $gray-400;
  }

  &__user-thumbnail {
    width: 60px;

    @include for-tablet-up {
      width: 50px;
    }
  }

  &__user-data {
    flex-grow: 1;

    @include for-tablet-up {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__user-description {
    p {
      margin: 0;
    }
  }

  &__user-name {
    font-weight: bold;
    color: $primary-color;
  }

  &__email {
    color: $gray-500;
  }

  &__user-numbers {

    @include for-tablet-up {
      width: 50%;
      display: flex;
      justify-content: space-between;
      padding-right: 12%;
    }
  }

  &__user-num-link {
    margin-right: 20px;
    cursor: pointer;

    i {
      color: $gray-400;
      margin-right: 5px;
    }
    span {
      color: $primary-color;
      font-weight: bold;
    }
  }

  &__additional-actions {
    color: $primary-color;
    cursor: pointer;
  }

  &__navigation {
    display: flex;
    margin: 30px auto 20px;
    justify-content: space-between;
    background-color: $white;
    border-radius: 4px;
    width: 100px;
    padding: 3px 10px;
    font-size: 0.75rem;

    i {
      color: $primary-color;
      cursor: pointer;
    }
  }
}

